button {
    padding: 1rem 3rem;
    font-size: 2rem;
    font-weight: bolder;
    border: none;
    text-transform: uppercase;
    margin-block: 2rem;
    background-color: #CCC;
    color: #000;
    box-shadow: 2px 2px 2px #000;
    cursor: pointer;

    &:hover {
        background-color: #EEE;
    }

    &.start,
    &.game,
    &.login,
    &.play,
    &.restart,
    &.next {
        background-color: #42b983;
        color: #35495e;
        box-shadow: 0 -3px #35495e;
        
        &:hover {
            background-color: #4bcf94;
        }
    }

    &.restart,
    &.next {
        margin-inline: 0.5rem;
    }

    &.restart {
        background-color: #b9425c;
        
        &:hover {
            background-color: #df5270;
        }
    }

    .buttons {
        display: flex;
        flex-direction: row;
    }
}
