
.error {
    background-color: #993131;
    color: #FFF;
    padding: 1rem 2rem;
    border-radius: 0.2rem;

    .message {
        display: block;
        margin-block-end: 1rem;
        font-size: 2rem;
        font-weight: 700;
    }

    p {
        font-size: 1rem;
    }
}

// ORIGINAL
.error-container {
    background-color: #993131;
    color: #FFF;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
}

.error-container .error-message {
    display: block;
    margin-block-end: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.error-container p {
    font-size: 1rem;
}
