
/*** START ***/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    width: 30rem;
    margin-inline: auto;
    border-radius: 1rem;

    &.start,
    &.options,
    &.game,
    &.login {
        margin-block-start: 2rem;
        background-color: #F2F2F2;
        border-radius: 0.2rem;
    }
}

// ORIGINAL
.start-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    width: 30rem;
    margin-block-start: 2rem;
    margin-inline: auto;
    border-radius: 0.2rem;
}

.option-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CCC;
    width: 30rem;
    margin-inline: auto;
    border-radius: 1rem;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CCC;
    width: 30rem;
    margin-inline: auto;
    border-radius: 1rem;
}

.login-form-container {
    width: 30rem;
    margin-block-start: 2rem;
    margin-inline: auto;
}
