
/*** NORMALIZE ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*** APP ***/
.app-logo {
    width: 20rem;
    aspect-ratio: 1;
}

/*** START ***/
.start-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    width: 30rem;
    margin-block-start: 2rem;
    margin-inline: auto;
    border-radius: 0.2rem;
}

.option-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CCC;
    width: 30rem;
    margin-inline: auto;
    border-radius: 1rem;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CCC;
    width: 30rem;
    margin-inline: auto;
    border-radius: 1rem;
}

/*** BUTTONS ***/
button {
    padding: 1rem 3rem;
    font-size: 2rem;
    font-weight: bolder;
    border: none;
    text-transform: uppercase;
    margin-block: 2rem;
    background-color: #42b983;
    color: #35495e;
    box-shadow: 0 -3px #35495e;
    cursor: pointer; 
}

.start-button {
    padding: 1rem 3rem;
    font-size: 2rem;
    font-weight: bolder;
    border: none;
    text-transform: uppercase;
    margin-block: 2rem;
    background-color: #42b983;
    color: #35495e;
    box-shadow: 0 -3px #35495e;
    cursor: pointer;
}

.game-btn {
    padding: 1rem 3rem;
    font-size: 2rem;
    font-weight: bolder;
    border: none;
    text-transform: uppercase;
    margin-block: 2rem;
    background-color: #42b983;
    color: #35495e;
    box-shadow: 0 -3px #35495e;
    cursor: pointer;
}

.game-btn {
    background-color: #4bcf94;
}

button:hover {
    background-color: #4bcf94;
}

.start-button:hover {
    background-color: #4bcf94;
}

.login-form-container {
    width: 30rem;
    margin-block-start: 2rem;
    margin-inline: auto;
}

.login-title {
    font-size: 2rem;
    margin-block-start: 1rem;
    padding: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: #35495e;
}

.login-button {
    padding: 0.75rem 2rem;
    font-size: 1.2rem;
    margin: 0;
    margin-block-start: 1rem;
}

/*** FORM ***/
form {
    width: 30rem;
    border-radius: 0.2rem;
    background-color: #F2F2F2;
    padding: 2rem;
}

form fieldset {
    border: none;
}

form fieldset label {
    display: block;
    font-size: 1.2rem;
    margin-block-end: 1rem;
    padding: 1rem;
    box-shadow: 0 3px #35495e;
    font-weight: bolder;
    text-transform: uppercase;
    color: #42b983;
}

form fieldset input {
    display: inline-block;
    width: 100%;
    padding: 1rem 1.2rem;
    margin-block-end: 1rem;
    border: 1px solid #CCC;
    border-radius: 0.15rem;
    font-weight: bolder;
    text-transform: uppercase;
}

/*** ERROR ***/
.error-container {
    background-color: #993131;
    color: #FFF;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
}

.error-container .error-message {
    display: block;
    margin-block-end: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.error-container p {
    font-size: 1rem;
}
